<%- include("partials/header"); -%>

<div class="has-bg-img">
  <section class="py-5 text-center container">
    <img class="bg-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAmnzPf0xLQd01F3ApIIwRG8QY8O9KfUHYVA&usqp=CAU" alt="...">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">earnBazaar</h1>
        <p class="lead text-muted">ALl in one solutions.</p>
        <p>
          <a href="/page1" class="btn btn-primary my-2">Companies</a>
          <a href="/page2" class="btn btn-secondary my-2">Indiviuals</a>
        </p>
      </div>
    </div>  
  </section>
</div>

  <div class="album py-5 bg-light">
    <div class="container">

      
    </div>
  </div>

<%- include("partials/footer"); -%>
